section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  background-color: rgb(237, 245, 188);
  grid-auto-rows: 500px;
  justify-content: center;
  row-gap: 10px;
}

section img {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  object-fit: contain;
}

section div {
  margin: 0;
  background-color: rgb(242, 229, 229);
  padding: 40px;
  color: rgb(23, 54, 40);
  overflow: hidden;
}

section div .topic {
  font-size: 40px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

section div .description {
  font-size: 25px;
}